@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body, html {
  font-family: monospace;
  margin: 0;
  height: 100%;
  width: 100%;
  justify-content: flex;
}
.fondo-verde {
  background-color: #4CAF50;
  border: 50px solid transparent; /* Usar transparente para mostrar la imagen del borde */
  box-sizing: border-box; /* Asegura que el borde esté dentro del 100% */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  position: relative; /* Para posicionar elementos hijos */
  border-image: url(/agua.png) 50 round; /* Imagen de borde */
}

.cuadro {
  border: 1px solid #ddd; /* Bordes ligeros para los cuadros */
  transition: background-color 0.3s; /* Transición suave */
  position: relative; /* Para posicionar la imagen */
  overflow: hidden; /* Para que la imagen no sobresalga del cuadro */
  background-image: url(/pasto.png); /* Ruta a tu imagen de pasto */
  background-size: 80%; /* Asegura que la imagen cubra todo el cuadro */
  background-position: center; /* Centra la imagen */
}

.cuadro:hover {
  background: green; /* Cambia a amarillo cuando el mouse está sobre el cuadro */
}

.cuadro.gris {
  background-color: grey !important; /* Fondo rojo cuando se agrega la casa */
}

.cuadro.casa img {
  display: block; /* Mostrar la imagen cuando el cuadro tiene la clase 'casa' */
}

.cuadro.mesa img {
  display: block; /* Mostrar la imagen cuando el cuadro tiene la clase 'mesa' */
}

.cuadro img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  /*display: none; /* Ocultar la imagen por defecto */
}

.boton-agregar {
  position: absolute;
  bottom: -40px;
  left: 10px;
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.boton-agregar-mesa {
  position: absolute;
  bottom: -40px;
  left: 150px;
  padding: 10px 15px;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
}

.contador-dinero {
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 18px;
  color: white;
}

.contador-individual {
  position:absolute;
  top: 10px;
  left: 0;
  background: (0, 0, 0, 0.5);
  color: white;
  font-size: 9px;
  padding: 2px 5px;
  border-radius: 3px;
}